html {
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  color: #512200;
  font-size: 1.5rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

.text {
  font-family: Georgia, serif;
  color: #512200;
  display: inline-block;
  font-size: 1rem;
  padding: 0 1rem 1rem;
}

dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  margin: 0 1rem 1rem;
  padding: .6rem 0 1rem;
  list-style-type: none;
  font-size: .875rem;
}

.category, .info {
  color: #512200;
  min-width: 45%;
  display: inline-block;
  font-size: .9rem;
}

.info {
  font-style: italic;
  font-size: .9rem;
  margin: 0;
}

.btn {
  border: 2px solid #785439;
  background-color: #785439;
  border-radius: 8px;
  color: #f0eee8;
  padding: .3em 0 .4em;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 0 auto;
  min-width: 40%;
  max-width: 100px;
}

.body {
  border: 3px solid #9a816d;
  border-radius: 8px;
  background-color: #dcd4cd;
  padding: 0 0 1rem;
}

a {
  text-decoration: none;
}

.link-card {
  margin: 0;
}

.link-card:hover {
  background-color: #cabdb2;
}

.btn:hover {
  background-color: #512200;
}
