html {
  html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

.link-card h2 {
  font-weight: bold;
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  padding: 0 1rem;
  color: #512200;
}

p {
  margin: 0;
}

.text {
  font-family: Georgia, serif;
  color: #512200;
  display: inline-block;
  font-size: 1rem;
  padding: 0 1rem 1rem;
}

dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  margin: 0 1rem 1rem;
  padding: .6rem 0 1rem;
  list-style-type: none;
  font-size: .875rem;
}
